<div class="top-container">
  <div class="form-container">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registerForm" class="register-form" (ngSubmit)="registerUser()">

      <mat-card-content> 
        <mat-form-field class="field-full-width">
          <input matInput placeholder="First name" required formControlName="firstname">
		</mat-form-field>
		<br>
		<mat-form-field class="field-full-width">
          <input matInput placeholder="Last name" required formControlName="lastname">
		</mat-form-field>
		<br>
		<mat-form-field class="field-full-width">
          <input matInput placeholder="Username" required formControlName="username">
        </mat-form-field>
		<br>
        <mat-form-field class="field-full-width">
          <input type="email" matInput placeholder="pat@example.com"  required formControlName="email">
        </mat-form-field>
		<br>
        <mat-form-field class="field-full-width">
          <input type="password" matInput placeholder="Password" required formControlName="password">
        </mat-form-field>
		<br>
        <!--<mat-form-field class="field-full-width">
          <mat-label>Choose a role...</mat-label>
          <mat-select formControlName="role">
            <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </mat-option>
          </mat-select>
        </mat-form-field>-->

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block" type="submit">Register</button>

    </form>
  </mat-card>
</div>
</div>